<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>系统后台</title>
</head>
<body>

<!--左侧导航-->
<aside class="lyear-layout-sidebar" id="leftbaraside">
    <div id="logo" class="sidebar-header">
        <a class="navbar-brand" style="font-size: 20px"
           th:href="@{/admin/index.html}">后台管理系统</a>
    </div>
    <div class="lyear-layout-sidebar-scroll">
        <nav class="sidebar-main">
            <ul class="nav nav-drawer">
                <li class="nav-item" th:class="${activeUrl=='indexActive'?'nav-item active':'nav-item'}"><a
                        th:href="@{/admin/index.html}"><i
                        class="mdi mdi-home"></i>系统首页</a></li>
                <li class="nav-item nav-item-has-subnav"
                    th:class="${activeUrl1=='message_Active'?'nav-item nav-item-has-subnav active open':'nav-item nav-item-has-subnav'}">
                    <a href="javascript:void(0)"><i class="mdi mdi-account-settings-variant"></i>
                        留言信息管理</a>
                    <ul class="nav nav-subnav">
                        <li th:class="${activeUrl2=='message_All_Active'?'active':''}"><a
                                th:href="@{/admin/message/toMessage_All.html}">全部信息</a></li>
                        <li th:class="${activeUrl2=='message_Show_Active'?'active':''}"><a
                                th:href="@{/admin/message/toMessage_Show.html}">已展示</a></li>
                        <li th:class="${activeUrl2=='message_NotShow_Active'?'active':''}"><a
                                th:href="@{/admin/message/toMessage_NotShow.html}">未展示</a></li>
                    </ul>
                </li>
                <li  class="nav-item nav-item-has-subnav"
                    th:class="${activeUrl1=='playerDataActive'?'nav-item nav-item-has-subnav active open':'nav-item nav-item-has-subnav'}"
                ><a href="javascript:void(0)"><i class="mdi mdi-skype-business"></i>玩家数据管理</a>
                    <ul class="nav nav-subnav">
                        <li th:class="${activeUrl2=='loginDataActive'?'active':''}"><a
                                th:href="@{/admin/data/tologinData.html}">登录数据</a></li>
                        <li th:class="${activeUrl2=='UltraSetHomeDataActive'?'active':''}"><a
                                th:href="@{/admin/data/toUltraSetHomeData.html}">UltraSetHome数据</a></li>
                        <li th:class="${activeUrl2=='AdvancedBanData_history_Active'?'active':''}"><a
                                th:href="@{/admin/data/toAdvancedBanData_history.html}">AdvancedBan数据-历史</a></li>
                        <li th:class="${activeUrl2=='AdvancedBanData_realTime_Active'?'active':''}"><a
                                th:href="@{/admin/data/toAdvancedBanData_realTime.html}">AdvancedBan数据-实时</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<!--End 左侧导航-->

</body>
</html>