<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>系统后台</title>
</head>
<body>

<!--左侧导航-->
<aside class="lyear-layout-sidebar" id="leftbaraside">
    <div id="logo" class="sidebar-header">
        <a class="navbar-brand" style="font-size: 20px"
           th:href="@{/admin/index.html}">后台管理系统</a>
    </div>
    <div class="lyear-layout-sidebar-scroll">
        <nav class="sidebar-main">
            <ul class="nav nav-drawer">
                <li class="nav-item" th:class="${activeUrl=='indexActive'?'nav-item active':'nav-item'}"><a
                        th:href="@{/admin/index.html}"><i
                        class="mdi mdi-home"></i>系统首页</a></li>

<!--                <li class="nav-item" th:class="${activeUrl=='DataActive'?'nav-item active':'nav-item'}"><a-->
<!--                        th:href="@{/admin/data/dataPanelLink.html}" target="_blank"><i-->
<!--                        class="mdi mdi-server"></i>服务器数据面板</a></li>-->

                <li class="nav-item" th:class="${activeUrl=='DataActive'?'nav-item active':'nav-item'}"><a
                        id="dataPanelLink" href="javascript:void(0)" onclick="dataPanelLink()"><i
                        class="mdi mdi-server"></i>服务器数据面板</a></li>

                <li class="nav-item nav-item-has-subnav"
                    th:class="${activeUrl1=='message_Active'?'nav-item nav-item-has-subnav active open':'nav-item nav-item-has-subnav'}">
                    <a href="javascript:void(0)"><i class="mdi mdi-comment-text-outline"></i>留言信息</a>
                    <ul class="nav nav-subnav">
                        <li th:class="${activeUrl2=='message_All_Active'?'active':''}"><a
                                th:href="@{/admin/message/toMessage_All.html}">全部信息</a></li>
                        <li th:class="${activeUrl2=='message_Show_Active'?'active':''}"><a
                                th:href="@{/admin/message/toMessage_Show.html}">已展示</a></li>
                        <li th:class="${activeUrl2=='message_NotShow_Active'?'active':''}"><a
                                th:href="@{/admin/message/toMessage_NotShow.html}">未展示</a></li>
                    </ul>
                </li>
                <li  class="nav-item nav-item-has-subnav"
                    th:class="${activeUrl1=='playerDataActive'?'nav-item nav-item-has-subnav active open':'nav-item nav-item-has-subnav'}"
                ><a href="javascript:void(0)"><i class="mdi mdi-account-outline"></i>玩家信息</a>
                    <ul class="nav nav-subnav">
                        <li th:class="${activeUrl2=='loginDataActive'?'active':''}"><a class="Important-data"
                                th:href="@{/admin/data/toLoginData.html}">登录数据</a></li>
                        <li  class="nav-item nav-item-has-subnav"
                             th:class="${activeUrl2=='UltraSetHomeDataActive'?'nav-item nav-item-has-subnav active open':'nav-item nav-item-has-subnav'}"
                        ><a href="javascript:void(0)">传送点数据</a>
                            <ul class="nav nav-subnav">
                                <li th:class="${activeUrl3=='homesDataActive'?'active':''}"><a class="Important-data"
                                        th:href="@{/admin/data/toUltraSetHomeData/homes.html}">homes数据</a></li>
                                <li th:class="${activeUrl3=='pendingDataActive'?'active':''}"><a class="Important-data"
                                        th:href="@{/admin/data/toUltraSetHomeData/pending.html}">pending数据</a></li>
                                <li th:class="${activeUrl3=='playersDataActive'?'active':''}"><a class="Important-data"
                                        th:href="@{/admin/data/toUltraSetHomeData/players.html}">players数据</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>
                <li class="nav-item nav-item-has-subnav"
                    th:class="${activeUrl1=='advancedBanDataActive'?'nav-item nav-item-has-subnav active open':'nav-item nav-item-has-subnav'}">
                    <a href="javascript:void(0)"><i class="mdi mdi-block-helper"></i>封禁记录</a>
                    <ul class="nav nav-subnav">
                        <li th:class="${activeUrl2=='historyDataActive'?'active':''}"><a
                                th:href="@{/admin/data/toAdvancedBanData/history.html}">历史数据</a></li>
                        <li th:class="${activeUrl2=='realTimeDataActive'?'active':''}"><a
                                th:href="@{/admin/data/toAdvancedBanData/realTime.html}">实时数据</a></li>
                    </ul>
                </li>

                <li class="nav-item nav-item-has-subnav"
                    th:class="${activeUrl1=='xConomyDataActive'?'nav-item nav-item-has-subnav active open':'nav-item nav-item-has-subnav'}">
                    <a href="javascript:void(0)"><i class="mdi mdi-chart-line"></i>经济信息</a>
                    <ul class="nav nav-subnav">
                        <li th:class="${activeUrl2=='holdDataActive'?'active':''}"><a
                                th:href="@{/admin/data/toAdvancedBanData/history.html}">持有经济</a></li>
                        <li th:class="${activeUrl2=='recordDataActive'?'active':''}"><a
                                th:href="@{/admin/data/toAdvancedBanData/realTime.html}">转账记录</a></li>
                    </ul>
                </li>

                <li class="nav-item nav-item-has-subnav"
                    th:class="${activeUrl1=='xConomyDataActive'?'nav-item nav-item-has-subnav active open':'nav-item nav-item-has-subnav'}">
                    <a href="javascript:void(0)"><i class="mdi mdi-cart-outline"></i>商店信息</a>
                    <ul class="nav nav-subnav">
                        <li th:class="${activeUrl2=='holdDataActive'?'active':''}"><a
                                th:href="@{/admin/data/toAdvancedBanData/history.html}">现有商店</a></li>
                        <li th:class="${activeUrl2=='recordDataActive'?'active':''}"><a
                                th:href="@{/admin/data/toAdvancedBanData/realTime.html}">交易记录</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <script th:src="@{/admin/js/jquery.js}"></script>
    <script>
        function dataPanelLink(){
            $.ajax({
                url:"/admin/dataPanelLink.html",
                type:"POST",
                success:function (data) {
                    if (data.code === 100){
                        window.open(data.extend.dataPanelLinkUrl)
                    }else{
                        location.reload(); // 执行页面刷新
                    }
                }
            })
        }
    </script>
</aside>
<!--End 左侧导航-->

</body>
</html>